<div class="container">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="deptName"
                   class="form-control"
                   type="text"
                   name="deptName"
                   ng-model="ctrl.searchForm.dept_name"
                   placeholder="Enter department name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid" ng-click="ctrl.search()">
                Search Department
            </button>
            <button  class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Search Department Manager
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Department No</th>
            <th>Department Name</th>
            <th>Department Manager Id</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="department in ctrl.departments">
            <td>
                {{department.dept_no}}
            </td>
            <td>
                {{department.dept_name}}
            </td>
            <td>{{department.manager.emp_no}}</td>
        </tr>
        </tbody>
    </table>
</div>